@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--body);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode {
    --color: #ffffff;
    --background: #C69874;
    --black-color: rgb(55, 54, 54);
    --btn: #362518;
    --body: #2b2929;
}

.dark-mode i {
    color: var(--color);
}

.dark-mode .section {
    color: var(--color);
}

#switch {
    transition: color 0.5s ease;
}

#switch.fa-moon {
    color: yellow;
}


:root {
    --color: #101010;
    --background: #C69874;
    --black-color: rgb(55, 54, 54);
    --btn: #362518;
    --body: #e0dfc6;
    --glass: rgba(255, 255, 255, 0.2);
}

.section {
    margin: 40px;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
}

header p {
    font-size: 30px;
    font-family: "Rubik Dirt", system-ui;
}

header i {
    font-size: 30px;
    text-align: center;
    align-items: center;
    cursor: pointer;

}

/* .filter-con {
    display: flex;
    justify-content: center;
}

.filter-con li {
    margin-left: 30px;
    list-style: none;
    font-size: 17px;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
}

.filter-con li span {
    background: var(--glass);
    padding: 2px;
    border-radius: 50%;
    color: var(--color);
}

.filter-con li:hover {
    color: var(--glass);
}

.filter-con .active{
    background-color: var(--glass);
    color: var(--color);
    border-radius: 8px;
}
.filter-con .active:hover{
    color: var(--color);
    border-radius: 8px;
} */

.task {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#currentDate {
    padding: 8px;
    background: var(--glass);
    border-radius: 8px;
    border: 1px solid #919191;
}

.task p {
    font-size: 17px;
    font-weight: 500;
}

.task span {
    background: var(--glass);
    color: var(--color);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #919191;
    transition: 0.3s ease;
}


.task span:hover {
    background: #827C90;
    color: var(--color);
}

.pop-up {
    background: var(--glass);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: var(--color);
    border: 1px solid rgba(142, 142, 142, 0.3);
    padding: 15px;
    position: fixed;
    transition: all 0.8s ease-in-out;
    top: -200px;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: 40px auto;
    border-radius: 8px;
}

.pop-up.open {
    top: 230px;
    opacity: 1;
    z-index: 999;
}

.pop-up form {
    width: 90%;
    margin-top: 8px;
}

.pop-up form input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.pop-up form button {
    background: var(--glass);
    color: var(--color);
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border: 1px solid #919191;
    transition: 0.3s ease;
}

.pop-up form button:hover {
    background: #827C90;
    color: var(--color);
}



.fa-trash {
    color: var(--btn);
    font-size: 18px;
    cursor: pointer;
}


.todo-con {
    display: block;
    justify-content: space-between;
    color: var(--color);
    border-radius: 8px;
    width: 50%;
    margin: 40px auto;
}

.list-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--glass);
    padding: 12px 16px;
    margin: 10px 40px;
    border-radius: 8px;
    border: 1px solid #919191;
}

#warning {
    color: red;
    display: none;
    font-size: 15px;
}

.delete-btn {
    border: none;
    background: none;
}

.fa-x {
    cursor: pointer;
}

.delete-btn .fa-x {
    margin-left: 0px;
    cursor: pointer;
}

.check {
    border-radius: 50%;
}


@media (max-width: 550px) {
    header p, #switch{
        font-size: 22px;
    }
    
    .task, .pop-up, .todo-con, #currentDate, #todo-input, #done-btn{
        font-size: 13px;
    }

    .task{
        display: block;
    }

    #currentDate{
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .todo-con{
        width: 100%;
    }

    .pop-up{
        width: 90%;
    }

}